google-generativeai>=0.3.0
Pillow>=10.0.0
python-dotenv>=1.0.0
google-api-core>=2.15.0
pathlib>=1.0.1
typing>=3.7.4
chromadb>=0.4.22
tqdm>=4.66.1
transformers>=4.37.0
torch>=2.0.0
mistralai
sentence-transformers
tiktoken